<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold ">Clientes e Fornecedores</h1>
        </div>
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <form [formGroup]="form" (submit)="query()" class="p-3">
                    <div class="row row-gap-3 mb-2">
                        <div class="col-12">
                            <label for="form-label">Consultar</label>
                        </div>
                    </div>
                    <div class="row row-gap-3 mb-3">
                         <div class="col-12 col-lg-6">
                            <label for="buscar-input" class="form-label">Buscar por</label>
                            <input type="text" class="form-control" id="buscar-input" formControlName="q"
                                placeholder="Nome da pessoa">
                        </div>
                         <div class="col-12 col-lg-6">
                            <label for="tipo-input" class="form-label">Tipo</label>
                            <select id="tipo-input" formControlName="tipo" class="form-control">
                                <option value="">TODOS</option>
                                <option value="FORNECEDOR">FORNECEDOR</option>
                                <option value="CLIENTE">CLIENTE</option>
                            </select>
                        </div>
                       
                    </div>

                    <div class="d-flex flex-row gap-2">
                        <button type="button" class="btn btn-primary" [routerLink]="['/admin/pessoas/form']">
                            <i class="bi bi-plus-lg me-2"></i> Adicionar
                        </button>
                    </div>
                </form>
                <div class="px-3 table-responsive">
                    <table-template [total]="data.total" [loading]="loading" [paginacaoAtiva]="true">
                        <table class="table table-borderless table-hover border-bottom">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th>Tipo</th>
                                    <th>CPF/CNPJ</th>
                                    <th class="text-end">
                                        Criado por
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.lista" class="cursor-pointer"
                                    [routerLink]="['/admin/pessoas/form']" [queryParams]="{ id: item._id }">
                                    <td>{{item.nome}}</td>
                                    <td>{{item.tipos}}</td>
                                    <td>{{item.documento |cpfCnpj}}</td>
                                    <td class="text-end">
                                        {{item.criado_por?.usuario | userInfo}} {{item.criado_por.data_hora |
                                        dateFromNow}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </table-template>
                </div>
            </div>
        </div>
    </div>
</div>